dz
[{"id":"27b27f64.a660e8","type":"function","z":"84a1543d.0c6ff8","name":"Подготовка запроса в светофор","func":"msg.id = \"1001983560\";\nmsg.sid = \"191012csa23wjxlhplkn\";\n\nmsg.headers = {\n \"Authorization\" : msg.sid,\n \"Accept\" : \"application/xml\"\n}\n\nmsg.payload = {\n  \"id\" : msg.id,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["857edd85.79e958"]]},{"id":"857edd85.79e958","type":"http request","z":"84a1543d.0c6ff8","name":"API светофора","method":"GET","ret":"txt","url":"https://stat.privatbank.ua/stat/api/ProductTrafficLights/resources/productstate?id={{{payload.id}}}","tls":"","x":640,"y":160,"wires":[["31616384.25322c"]]},{"id":"ae630d98.076c88","type":"inject","z":"84a1543d.0c6ff8","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":130,"y":160,"wires":[["27b27f64.a660e8"]],"icon":"node-red/arduino.png"},{"id":"ea0e0977.8fcd3","type":"debug","z":"84a1543d.0c6ff8","name":"Debag","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":160,"wires":[]},{"id":"31616384.25322c","type":"xml","z":"84a1543d.0c6ff8","name":"","property":"payload","attr":"","chr":"","x":850,"y":160,"wires":[["ea0e0977.8fcd3"]]}]
